<div
  class="
    w-10/12
    h-auto
    bg-red-200
    rounded
    mx-auto
    mt-10
    p-5
    flex flex-col
    justify-center
    text-center
  "
>
  <h1 class="text-3xl text-red-800">
    ------------------start parent-----------------
  </h1>
  <h1 class="text-2xl font-extrabold">Parent</h1>
  <h2 *ngFor="let valor of datos">
    <p style="background-color: aquamarine">{{ valor.name }}</p>
  </h2>
  <h1 class="text-3xl text-red-800">
    ------------------end parent-----------------
  </h1>
</div>
<app-child
  *ngIf="arreglo.length > 0"
  [arreglo]="arreglo"
  (enviar)="recibiendo($event)"
></app-child>
