<div
  class="
    w-10/12
    h-auto
    bg-blue-200
    rounded
    mx-auto
    mt-10
    p-5
    flex flex-col
    justify-center
    text-center
  "
>
  <h1 class="text-3xl text-blue-800">
    ------------------start child Input-----------------
  </h1>
  <h2 class="font-extrabold text-2xl">Child component</h2>

  <!-- Mostrando arreglo traido de parent -->
  <h2 *ngFor="let valor of arreglo">
    <p style="background-color: aquamarine">{{ valor.nombre }}</p>
  </h2>

  <h1 class="text-3xl text-blue-800">
    ------------------end child input-------------------
  </h1>
  <h1 class="text-3xl text-blue-800 mt-10">
    ------------------start child output----------------
  </h1>
  <!-- enviando arreglo traido de parent -->
  <button
    class="
      transition
      duration-500
      bg-red-800
      text-white
      px-3
      py-1
      rounded
      hover:bg-blue-800
      uppercase
    "
    (click)="enviando()"
  >
    enviar objeto
  </button>
  <h1 class="text-3xl text-blue-800">
    ------------------end child output----------------
  </h1>
</div>
